@charset "EUC-KR";

@import "style.css";
@import "varialbe.css";

/* pages */
@import "nav.css";
@import "section.css";

#index-body{
	width : 100%;
	height : 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	
}


